{% extends 'base.html.twig' %}
{% block body %}

  <div class="jumbotron">
    {% if (cartType == 'Cart') %}
      <h1 class="display-3">Your Shopping Cart</h1>
    {% else %}
      <h1 class="display-3">Your Wish List Cart</h1>
    {% endif %}

    {% if (products) %}
      <p>
        <a href="/cart/emptyCart/{{cartType}}">
          Empty Cart
        </a>
      </p>
    {% endif %}
  </div>

  <div class="container">

    {% if (products) %}
      <div class="card-deck">
        {% for i in range(0, products|length - 1) %}
          <div class="card">
            <div class="card-block text-center">
              <h4 class="card-title">{{ products[i].cart.products[i].name }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">${{ products[i].cart.products[i].price }}</h6>
              <p class="card-text">{{ products[i].cart.products[i].description }}</p>
              <p class="card-text">{{ products[i].amount }}</p>
              <hr>
              TOTAL: ${{products[i].cart.products[i].price * products[i].amount}}
              <hr>
              <a href="/cart/removeProduct/{{products[i].cart.products[i].id}}/{{cartType}}" class="card-link">Remove</a>
              <a href="/cart/removeProductType/{{products[i].cart.products[i].id}}/{{cartType}}" class="card-link">Remove All</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}


    
    
  </div>

{% endblock %}