<h1>Welcome, You have been invited.</h1>

<p>Someone has invited you to top private online store on the web, You should click the link at the bottom of this mail to register yourself in.</p>

<a href="http://localhost:8000/preregister?email={{email}}&code={{hash}}">CLICK HERE</a>