{% extends 'base.html.twig' %}
{% block body %}

<div class="jumbotron">
    <h1 class="display-3">ERROR</h1>
</div>


{% for flash_message in app.session.flashBag.get('error') %}
    <div class="flash-error">
        {{ flash_message }}
    </div>
{% endfor %}

{% endblock %}