{% extends 'base.html.twig' %}
{% block body %}

  <div class="jumbotron">
    <h1 class="display-3">Welcome in our shop</h1>
  </div>

  <div class="container">

    
    <div class="card-deck">
      {% for product in products %}
        <div class="card">
          <div class="card-block text-center">
            <h4 class="card-title">{{product.name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">${{product.price}}</h6>
            <p class="card-text">{{product.description}}</p>
            <a href="/cart/addProduct/{{product.id}}/Cart" class="card-link">Add to cart</a>
            <a href="/cart/addProduct/{{product.id}}/WishCart" class="card-link">Wishlist</a>
          </div>
        </div>
      {% endfor %}
    </div>


    
    
  </div>

{% endblock %}