{% extends 'admin_layout.html.twig' %}
{% block body %}

  <div class="jumbotron">
    <h1 class="display-3">Products has been loaded</h1>
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <th scope="row">{{ product.id | e}}</th>
            <td>{{ product.name | e}}</td>
            <td>{{ product.description | e}}</td>
            <td>{{ product.price | e}}</td>
            <td>{{ product.type | e}}</td>
            <td>
              <a href="products/{{product.id}}/{{product.type}}">Edit</a> /
              <a href="removeProduct/{{product.id}}/{{product.type}}">Remove</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}