{% extends 'admin_layout.html.twig' %}
{% block body %}

  <div class="jumbotron">
    <h1 class="display-3">Product ({{ product.name }}) has been loaded</h1>
  </div>

  <div class="container">

    <form action="/manage/updateProduct" method="POST">

      <input type="hidden" name="id" value="{{product.id}}">

      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Product Name</label>
        <div class="col-10">
          <input class="form-control" name="name" type="text" value="{{product.name}}" id="example-text-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Product Description</label>
        <div class="col-10">
          <input class="form-control" name="desc" type="text" value="{{product.description}}" id="example-text-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Product Price</label>
        <div class="col-10">
          <input class="form-control" name="price" type="text" value="{{product.price}}" id="example-text-input">
        </div>
      </div>

      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="type" value="Normal" {% if(product.type == "Normal") %} checked {% endif %} >
          Normal Item
        </label>
      </div>

      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="type" value="Sale" {% if(product.type == "Sale") %} checked {% endif %} >
          Sale Item
        </label>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    
    </form>

  </div>

{% endblock %}