<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin Panel{% endblock %}</title>

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/style_admin.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {% if is_granted('ROLE_ADMIN') %}

      <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <a class="navbar-brand" href="/manage/products">ADMIN AREA</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manage/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manage/add-product">Add Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/invite">Invite</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" class="btn btn-link btn-danger" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>

        {% block body %}{% endblock %}

        <hr>

        <footer class="footer">
          <p>&copy; Omar Ahmed | All Rights Reserved</p>
        </footer>

      </div> <!-- /container -->

    {% else %}
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-3">YOU CAN NOT ACCESS THIS PAGE.</h1>
          <p><a href="/logout">Logout</a> or GTFO.</p>
        </div>
      </div> <!-- /container -->
    {% endif %}

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
