{% extends 'admin_layout.html.twig' %}
{% block body %}

  <div class="jumbotron">
    <h1 class="display-3">Invite new user to store</h1>
  </div>

  <div class="container">
      <form action="{{path('doInvite')}}" method="POST">
        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input class="form-control" name="email" type="email">
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Invite</button>
          </div>
        </div>
      
      </form>
  </div>

{% endblock %}
