{% extends 'base.html.twig' %}

{% block body %}

  <div class="jumbotron">
    <h1 class="display-3">Hello, Welcome to the top secret online store</h1>
    <p>It is a big secret, that's why you should login.</p>

    {% if error %}
      <div>{{ error.messageKey | trans(error.messageData, 'security') }}</div>
    {% endif %}
  
    <div class="container">
      <form action="{{ path('login') }}" method="post">

        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
        </div>

      
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="_password" />
        </div>
        {# <input type="hidden" name="_target_path" value="/" /> #}
        
        <button type="submit" class="btn btn-primary">Login</button>

      </form>
    </div>
  </div>

  


{% endblock %}