{% extends 'base.html.twig' %}

{% block body %}

  <div class="jumbotron">
    <h1 class="display-3">Hello, Welcome to the top secret online store</h1>
    <p>You have invited, so register required info here.</p>

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message.messageKey | trans(flash_message.messageData, 'security') }}
        </div>
    {% endfor %}
  
    <div class="container">
      <form class="form-signin" name='register_form' id='register_form' method='post' action='{{path('createUser')}}'>

        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'Username'}}) }}<br>

        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }} <br>

        {{ form_widget(form.confirm, {'attr': {'class': 'form-control', 'placeholder':'Confirm Password'}}) }} <br>

        {{ form_widget(form.homepage, {'attr': {'class': 'form-control', 'placeholder':'Homepage'}}) }} <br>
    
        {{ form_widget(form.email, {'attr': {'value': email}}) }}
        
        <button type="submit" class="btn btn-primary">Register</button>

      </form>
    </div>
  </div>

  


{% endblock %}